// bower:scss
// endbower
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'bower_components/materialize/sass/materialize';
@import 'bower_components/breakpoint-sass/stylesheets/breakpoint';

$min-wrap-width: 243px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$max-wrap-width: 1200px;
$laptop-l: 1440px;

body {
  background: #fafafa;
  color: #333;
}

.page-wrapper{
  max-width: $max-wrap-width;
  min-width: $min-wrap-width;
  margin: 0 auto;
}

#accordionSlider{
  overflow: hidden;
  display: block;
  position: relative;
  display: inline-block;
  .slide {
    overflow: hidden;
    display: block;
    box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
    position: absolute;
    cursor: pointer;
    float: left;
    display: inline-block;
    zoom: 1;
    img {
      position: relative;
    }
  }
  .caption {
    position: absolute;
    background: rgba(1, 1, 1, 0.4);
    padding: 20px;
    left: 0;
    p {
      color: #FFF;
      margin: 0px;
      font-size: 12px;
      line-height: 1.6;
    }
    h1 {
      color: #CCC;
      font-size: 16px;
      font-weight: normal;
      margin: 0px;
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
    }
  }
}

.card-action{
  .social-list,
  .link-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    li{
      display: flex;
      flex-grow: 0;
      margin-right: 1.4em;
      line-height: 1.5;
      position: relative;
      a{
        cursor: pointer;
      }
    }
  }
}

@include breakpoint($mobile-s){
  .card-action{
    display: block;
    justify-content: center;
    .link-list,
    .social-list{
      justify-content: space-between;
      li, a{
        margin-right: 0; /* shame. I don't want to use !important */
      }
    }
  }
}
@include breakpoint($tablet){
  .card-action{
    display: flex;
    justify-content: space-between;
    .link-list{
      justify-content: flex-start;
    }
    .social-list{
      justify-content: flex-end;
    }
  }
}

/* svg sprites for social icons */
.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/social-icon-sprite.svg);
  &-facebook2 {
    background-position: 0 0;
  }
  &-dribbble {
    background-position: -48px 0;
  }
  &-github {
    background-position: -96px 0;
  }
  &-linkedin {
    background-position: -144px 0;
  }
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
